.idea
*.pyc
.mypy_cache/
.envrc
.env

/dist
/build

lms.egg-info

node_modules
node_modules_old
bower_components
lms/static/*
!lms/static/template_resources
assets/scss/global/_sprite*
assets/scss/official_site/_sprite*
assets/scss/official_site_v2/_sprite*
assets/scss/fonts
assets/scss/spritesmith-generated/.*

lms/templates/fonts.html
gunicorn-conf.py

*.log
xperf-log

.DS_Store

*.mo

.coverage
.cache

./profile*
/uploads/
zoom_recordings_tmp/
venv
deploy/venv

tmp/*
instrument

dump.rdb

subject/dist/*

client_body_temp
fastcgi_temp
proxy_temp
scgi_temp
uwsgi_temp

.fontcustom-manifest.json

.vscode
/conf/local.py
/conf/config_local.yml
.python-version
.tool-versions
.pytest_cache/
report.html
assets/style.css
spritesmith-generated

karma_coverage
/report.*
conf/gunicorn_web.py
conf/gunicorn_socketio.py

lms/data_importer/gift/*
lms/data_importer/gift/parsetab.py
lms/data_importer/gift/parser.out

lms/campus_subject_lib/gift/*
~*.xlsx
uploads/*

get-poetry.py
.cache/pip
.history
